<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>StarHub</title>
    <link rel="stylesheet" href="../public/css/landing.css" />
    <link rel="stylesheet" href="../public/css/scroll.css">
    <link rel="shortcut icon" href="../public/img/star.svg" />
    <link rel = "icon" href =  
"../public/img/star.svg" 
        type = "image/x-icon"> 
    <meta property="og:title" content="StarHub | Star tracker" />
    <meta
      property="og:description"
      content="StarHub | Tracks stars and unstars, so don't have to!"/>
    <meta property="og:image" content="../public/img/star.svg" />
    <meta property="og:url" content="https://starhub.ml/" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
      data-auto-a11y="true"
    ></script>
  </head>
  <body class="has-animations">
    <div class="body-wrap">
      <header class="site-header reveal-from-top">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand">
              <h1 class="m-4">
              </h1>
            </div>
          </div>
        </div>
      </header>
      <main class="site-content">
        <section class="hero section illustration-section-01">
          <div class="container">
            <div class="hero-inner section-inner">
              <div class="split-wrap invert-mobile">
                <div class="split-item">

                    <h1>StarHub | <br>Github Star Tracker</h1>

                  <div class="hero-content split-item-content center-content-mobile">
                    <img src="../public/img/star.svg" height="200px" width="200px" style="margin-left: 90%; margin-right: 40%;">
                  </div>
                  <style>
                    @media (min-width: 641px) {
                      .hero .split-wrap .split-item {
                        min-height: 492px;
                      }
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>
        <section class="features-tiles section center-content" id="2lol">
          <div class="container">
            <div class="features-tiles-inner section-inner has-top-divider">
              <div class="section-header">
                <div
                  class="container-xs reveal-from-bottom"
                  data-reveal-delay="650"
                >
                  <h2 class="mt-0 mb-16">StarHub</h2>
                  <p class="m-0">
                    StarHub is a chrome extension that tracks your GitHub stars,<br> so you don't have to. <br>Know when and who unstarred your repository by clicking on the unstars icon on your repository's page
                  </p>
                </div>
              </div>
              <img src="../public/img/promo1.png" class="container-s reveal-from-bottom"> <br><br>
              <div class="tiles-wrap">

                <div class="tiles-item reveal-from-left">
                    <div class="tiles-item-inner">
                      <div class="features-tiles-item-header">
                        <div class="features-tiles-item-image mb-15">
                          <img
                            src="../public/img/github.png"
                            alt="Feature tile icon 06"
                            width="72"
                            height="72"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="mt-0 mb-8">Quick Github OAuth</h4>
                        <p class="m-0 text-sm">
                            Quickly sign-in through your GitHub account to get started!
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="tiles-item reveal-from-right">
                    <div class="tiles-item-inner">
                      <div class="features-tiles-item-header">
                        <div class="features-tiles-item-image mb-15">
                          <img
                            src="../public/img/repo.png"
                            alt="Feature tile icon 06"
                            width="72"
                            height="72"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="mt-0 mb-8">Auto repo fetch</h4>
                        <p class="m-0 text-sm">
                            The extension fetches all the repositories you have access over!
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="tiles-item reveal-from-bottom">
                    <div class="tiles-item-inner">
                      <div class="features-tiles-item-header">
                        <div class="features-tiles-item-image mb-15">
                          <img
                            src="../public/img/track.png"
                            alt="Feature tile icon 06"
                            width="72"
                            height="72"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="mt-0 mb-8">Convenient</h4>
                        <p class="m-0 text-sm">
                            Track stars and unstars on your repository by simply adding it your tracking list!
                        </p>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <div class="section-inner has-top-divider">
              <div class="container-xs">
                <div class="center-content">
                  <a
                    class="button button-primary button-wide-mobile pulse"
                    style="
                      border: 0;
                      margin-left: 5%;
                      margin-right: 5%;
                      background-color: white;
                      text-transform: none;
                      color: black;
                    "
                    href="https://github.com/techsyndicate/starhub" target="_blank"
                    >Github  <i style="margin-top: 5px;margin-left: 7px" class="fab fa-github"></i></a
                  >
                  <a
                  class="button button-primary button-wide-mobile pulse"
                  style="
                    border: 0;
                    margin-left: 5%;
                    margin-right: 5%;
                    background-color: white;
                      text-transform: none;
                    color: black;
                  "
                  href="https://github.com/techsyndicate/starhub" target="_blank"
                  >Download  <i style="margin-top: 5px;margin-left: 7px" class="fa fa-download"></i></a
                >
                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  margin-left: 5%;
                  margin-right: 5%;
                  background-color: white;
                      text-transform: none;
                  color: black;
                "
                href="https://github.com/techsyndicate/starhub/issues" target="_blank"
                >Issues <i style="margin-top: 5px;margin-left: 7px" class="fa fa-issue"></i></a
              >
                </div>
                
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="site-footer center-content-mobile">
        <div class="container">
          <div class="site-footer-inner">
            <div class="footer-top space-between text-xxs">
              <div class="footer-social">
                <div>
                 

                </div>
              </div>
            </div>
            <div
              class="footer-bottom space-between text-xxs invert-order-desktop"
            >
              <nav class="footer-nav">
                <ul class="list-reset">
                  <li>
                    Made with ❤️ in India
                  </li>
                </ul>
              </nav>
              <div class="footer-copyright">
                &copy; 2021 StarHub | All Rights Reserved
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/public/js/landing.js"></script>
  </body>
</html>
